<ion-header>
  <ion-toolbar>
    <ion-title>Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Información del Usuario</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <p><strong>Nombre:</strong> {{ userData.firstName }} {{ userData.lastName }}</p>
      <p><strong>Email:</strong> {{ userData.email }}</p>
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-footer text-center>
    <ion-button expand="full" shape="round" (click)="volverATabs()">
      Volver a Tabs
    </ion-button>
</ion-footer>
