<ion-content>
  <div class="ion-text-center">
    <!-- Imagen y Frase -->
    <img src="assets/img/Frase-home.png" alt="Frase-home" style="max-width: 150px; border-radius: 50%;">
    <p>"Hasta que no hayas amado a un animal, una parte de tu alma permanecerá dormida." - Escritor francés Anatole France</p>
  </div>
</ion-content>

<ion-tabs>
  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="animales-perdidos">
      <ion-icon name="paw"></ion-icon>
      <ion-label>Registro de Animales</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="perfil">
      <ion-icon name="person"></ion-icon>
      <ion-label>Perfil</ion-label>
    </ion-tab-button>

    <ion-tab-button (click)="logout()">
      <ion-icon name="log-out"></ion-icon>
      <ion-label>Salir</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>
