<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="registroForm" (ngSubmit)="registerUser(registroForm.value)">
    <ion-item>
      <ion-label position="floating">Nombre</ion-label>
      <ion-input formControlName="firstName" type="text"></ion-input>
    </ion-item>
    <div class="validation-error" *ngIf="registroForm.get('firstName')?.touched && registroForm.get('firstName')?.invalid">
      <div *ngFor="let validation of validation_messages.firstName">
        <div *ngIf="registroForm.get('firstName')?.hasError(validation.type)">
          {{ validation.message }}
        </div>
      </div>
    </div>

    <ion-item>
      <ion-label position="floating">Apellido</ion-label>
      <ion-input formControlName="lastName" type="text"></ion-input>
    </ion-item>
    <div class="validation-error" *ngIf="registroForm.get('lastName')?.touched && registroForm.get('lastName')?.invalid">
      <div *ngFor="let validation of validation_messages.lastName">
        <div *ngIf="registroForm.get('lastName')?.hasError(validation.type)">
          {{ validation.message }}
        </div>
      </div>
    </div>

    <ion-item>
      <ion-label position="floating">Correo</ion-label>
      <ion-input formControlName="email" type="email"></ion-input>
    </ion-item>
    <div class="validation-error" *ngIf="registroForm.get('email')?.touched && registroForm.get('email')?.invalid">
      <div *ngFor="let validation of validation_messages.email">
        <div *ngIf="registroForm.get('email')?.hasError(validation.type)">
          {{ validation.message }}
        </div>
      </div>
    </div>

    <ion-item>
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input formControlName="password" type="password"></ion-input>
    </ion-item>
    <div class="validation-error" *ngIf="registroForm.get('password')?.touched && registroForm.get('password')?.invalid">
      <div *ngFor="let validation of validation_messages.password">
        <div *ngIf="registroForm.get('password')?.hasError(validation.type)">
          {{ validation.message }}
        </div>
      </div>
    </div>

    <ion-button expand="full" type="submit" [disabled]="!registroForm.valid">Registrarse</ion-button>
  </form>
</ion-content>
